=flexbox
	display: -webkit-box
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flexbox
	display: flex

=gradient($angle,$color1, $color2)
	background-color: $color2
	background-image: -webkit-gradient(linear, $angle, from($color1), to($color2))
	background-image: -webkit-linear-gradient($angle, $color1, $color2)
	background-image:    -moz-linear-gradient($angle, $color1, $color2)
	background-image:     -ms-linear-gradient($angle, $color1, $color2)
	background-image:      -o-linear-gradient($angle, $color1, $color2)
	background-image:         linear-gradient($angle, $color1, $color2)
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=$angle,StartColorStr='#{$color1}', EndColorStr='#{$color2}')

/* ======== Outros */
=transition($transition...)
	-moz-transition:     $transition linear
	-o-transition:       $transition linear
	-webkit-transition:  $transition linear
	transition:          $transition linear

=transition-ease($transition-ease...)
	-moz-transition:     $transition-ease ease
	-o-transition:       $transition-ease ease
	-webkit-transition:  $transition-ease ease
	transition:          $transition-ease ease

=border-radius($radius)
	border-radius: $radius
	-webkit-border-radius: $radius
	-moz-border-radius: $radius
	-ms-border-radius: $radius

=box-sizing($box)
	-webkit-box-sizing: $box
	-moz-box-sizing: $box
	box-sizing: $box

@function calculateRem($size)
	$remSize: $size / 16px
	@return $remSize * 1rem

// =font-size($size)
//   font-size: $size
//   font-size: calculateRem($size)

=opacity($opacity)
	opacity: $opacity
	$opacity-ie: $opacity * 100
	filter: alpha(opacity=$opacity-ie)

=background-opacity($color: #000, $opacity: 0.85)
	background: $color
	background: rgba($color, $opacity)

=box-shadow($shadow)
	-webkit-box-shadow: $shadow
	-moz-box-shadow: 		$shadow
	box-shadow: 				$shadow

=calc($property, $expression)
	#{$property}: -webkit-calc(#{$expression})
	#{$property}: calc(#{$expression})

=columns($count: 3, $gap: 10)
	@include css3-prefix('column-count', $count)
	@include css3-prefix('column-gap', $gap)

=box-sizing($type: border-box)
	-webkit-box-sizing: $type
	-moz-box-sizing:    $type
	-ms-box-sizing:     $type
	box-sizing:         $type

=clip-path($clip)
	-webkit-clip-path:  $clip
	-moz-clip-path:     $clip
	-ms-clip-path:      $clip
	clip-path:          $clip

=pseudo($display: block, $content: '')
	content: $content
	display: $display

=responsive-ratio($x,$y, $pseudo: false)
	$padding: unquote( ( $y / $x ) * 100 + '%' )
	@if $pseudo
		&:before
			@include pseudo($pos: relative)
			width: 100%
			padding-top: $padding
	@else
		padding-top: $padding

=font-size($size: 15px)
	font-size: $size
	font-size: ($size / 16px) * 1rem
