/**
 * COLORS
 */
$black:							#000;
$white:							#FFF;
$link-color:				blue;
$link-hover:				darken($link-color, 10%);

$one:								#FFF;
$two:								#FFF;
$tree:							#FFF;
$four:							#FFF;
$five:							#FFF;
$six:								#FFF;
$seven:							#FFF;
$eight:							#FFF;
$nine:							#FFF;
$ten:								#FFF;


/**
 * SIZES
 */


/**
 * DEVICES
 */
$mobile: 	767px;
$tablet: 	1029px;
$desktop: $tablet + 1;
