.wrap
  margin: 0 auto
  width: 88%

  // Tablet
  @media (min-width: $mobile) and (max-width: $tablet)
    max-width: $tablet

  // Desktop
  @media (min-width: $desktop )
    max-width: $desktop

  // Mobile
  @media (max-width: $mobile )
    max-width: $mobile

.cf
  clear: both
// tablet @media (min-width: $mobile) and (max-width: $tablet)
// desktop @media (min-width: $desktop )
// desktop @media (max-width: $mobile )
